body{
  background-image: url(Img/bg-blue-zircone.png);
}
/*Following is the css for the header and twitter bird img on the top of the page*/
 .header {
  font-family: 'Dancing Script', cursive;
  height: 250px;
  padding: 10px;
  margin-top: 20px;
  font-size: 30px;
}

.row .col-md-2{
  width: 20%;
}

/*Following is the css for the tweet input and post button on the right side of the page*/
.tweet_input {
 
 background-color: #52b6ff;
 border: 1px solid #102F45;
 margin-top: 10px;
 padding: 20px;
 float: right;
}

.button_post {
  margin: 10px;
}

/*Following is the css for the username input on the left side of the page*/
.tweet_username {
  background-color: #43b9cc;
  border: 1px solid #102F45;
  margin-top: 10px;
  padding: 8px;
}

/*Following is the css for your current username on the left side of the page*/
.userStatus {
  background-color: #d34261;
  border: 1px solid #102F45;
  text-align: center;
  font-size: 18px;
  font-family: serif;
  margin-top: 10px;
  padding: 8px;
  color: #fe818b;
  float: left;
}

/*Following is the css for the username Anonymous on the left side of the page*/
#newName {
  font-size: 20px;
  font-family: serif;
  background-color: white;
  border: 1px solid #102F45;
  color: #601e2c;
}

/*Following is the css for the new tweet diplay on the right side of the page*/
.newTweet {
  background-color: #172b18;
  border: 1px solid #102F45;
  margin-top: 5px;
  padding: 20px;
}

/*Following is the css for the new tweet username font  on the right side of the page*/
#posts {
  font-family: serif;
  font-size: 20px;
  height: auto;
  color: #57deff;
}

#posts li {
  display: block;
  border-bottom: dotted 1px white;
}

/*Following is the css for the new tweet date input on the right side of the page*/
.date {
  font-size: 12px;
  font-style: italic;
  color: gray;
}

/*Following is the css for the new tweet font input on the right side of the page*/
.tweetColor {
  color: white;
  display: inline-block;
}
/*Following is the css for the active users imges on the right side of the page*/
.img {
  height: 60px;
  width: 50px;
}
/*Following is the css for the current user img on the left side of the page*/
#newImg .img {
  background-color: #d34261;
  border: 1px solid white;
  text-align: center;
  height: 100%;
  width: 100%;
}
.filter {
  margin-top: 20px;
}
iframe{
  float: right;
  margin-right: 40px;
}